---
---

//
// IMPORTS
//

@import "bulma";
@import "variables";
// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "svg-icons";

.main-content {
    padding-top: 2.5rem;
}

body {
    font-family: 'Fira Code', monospace;
}

.button:focus {
    border-color: #4a4a4a;
    box-shadow: 0 0 0 #4a4a4a;
}

.menu-label:not(:first-child) {
    margin-top: 0;
}

.content p {
    font-size: 1.1em;
}

.header-content small {
    font-size: 1.0em;
}

.header-content {
    padding-bottom: 20px;
}

.header-content img {
    padding-bottom: 20px;
}

.post-wrapper {
    padding-bottom: 50px;
}

.has-padding {
    padding-bottom: 51px;
}

.footer {
    margin-top: 2rem;
}
