<!DOCTYPE html>
<html>

<head>
	<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

	{% include meta.html %}
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
</head>

<body>
	<!-- body content -->
	<div class="main-content">
		<div class="container ">
			<div class="columns is-multiline">
				<div class="column is-3 is-narrow has-text-centered">
					<div class="nav-header">
						<h3 class="title is-3">{{ site.name }}</h3>
						<center>
							<figure class="image is-128x128">
								<a href="{{ site.baseurl }}/" class="image"><img class="image is-rounded" src="{{ site.avatar }}" /></a>
							</figure>
						</center>
						<hr/>
						<h4 class="subtitle is-5"><i>{{ site.description }}</i></h4>
					</div>
					<hr/>
					<!-- navigation -->
					<aside class="menu">
						<p class="menu-label">
							<a href="{{ site.baseurl }}/">Blog</a>
						</p>
						<p class="menu-label">
							<a href="{{ site.baseurl }}/about">About</a>
						</p>
					</aside>
					<!-- end navigation -->
				</div>


				<div class="column is-8 is-offset-1 is-centered">
					{{ content }}
				</div>
			</div>
		</div>

		<div class="footer">
			<div class="container has-text-centered">
				<footer class="footer">
					{% include svg-icons.html %}
				</footer>
			</div>
		</div>
	</div>
	{% include analytics.html %}
</body>

</html>
